*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #222831;
}

.container{
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list{
    display: flex;
    list-style-type: none;
    gap: 48px;
}