* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #222831;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .section-about .container .content-about h2,
  .section-projects .container .content-projects h2,
  .section-contact .container .content-contact h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 480px) {
  .section-about .container .content-about h2,
  .section-projects .container .content-projects h2,
  .section-contact .container .content-contact h2 {
    font-size: 32px;
  }
}

/* RESPONSIVO GERAL */
@media screen and (max-width: 800px) {
  .section-about,
  .section-projects,
  .section-contact {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;

  background-color: #222831;
  padding-bottom: 30px;
  box-shadow: 0px 6px 15px rgb(0 0 0 / 50%);
  /* border-bottom: 1px solid #EEEEEE1A; */
}

.container {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #eeeeee;
}

.navigation-link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #eeeeee;

  display: inline-block;
  transition: 0.2s;
}

/* Estilo para Menu ativo */
/* .navigation-list .navigation-item a:hover,
.navigation-list .navigation-item a.ativo {
  color: #00adb5;
} */

.navigation-link:hover {
  color: #00adb5;
  transform: scale(1.05);
}

/*--------------------------------------------------------------
# EFEITO MENU MOBILE
--------------------------------------------------------------*/

header .profile-container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
}

header .profile-container h2 {
  color: #fff;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0px;
  padding: 0px;
}

header .profile-container h2::after {
  content: "";
  display: block;
  width: auto;
  height: 2px;
  background: #111111;
  margin-top: 40px;
}

header .profile img {
  background-color: #393e46;
  margin: 20px auto;
  display: block;
  width: 156px;
  border: 3px solid #00adb5;
  max-width: 100%;
  height: auto;
}

header .img-profile {
  border-radius: 50%;
}

.list-menu {
  padding-top: 60px;
}

.btn-mobile {
  margin-top: 5px;
}

.btn-open-menu i {
  color: #00adb5;
  font-size: 40px;
}

.menu-mobile {
  background: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  max-width: 70%;
  overflow: hidden;
  transition: max-width 0.5s ease;
}

.menu-mobile.open-menu {
  width: 70%;
}

.menu-mobile.open-menu .profile-container {
  transform: translateX(0); /* Ajuste o posicionamento ao abrir o menu */
}

.menu-mobile .profile-container {
  transform: translateX(
    -100%
  ); /* Posicione fora da tela quando o menu estiver fechado */
}

.menu-mobile.open-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-close {
  padding: 15px 5%;
  width: fit-content;
}

.menu-mobile .btn-close i {
  color: #00adb5;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #00adb5;
}

header .overlay-menu {
  background-color: #0000007a;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

header .btn-mobile {
  display: none;
}

@media screen and (max-width: 580px) {
  header .profile img {
    width: 126px;
  }

  header .profile-container h2 {
    font-size: 20px;
  }

  .list-menu {
    padding-top: 40px;
  }

  .menu-mobile nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 370px) {
  header .profile img {
    width: 100px;
  }

  header .profile-container h2 {
    font-size: 16px;
  }

  header .profile-container h2::after {
    margin-top: 20px;
  }

  .menu-mobile nav ul li a {
    font-size: 14px;
    padding: 10px 8%;
  }

  .list-menu {
    padding-top: 20px;
  }
}

/*--------------------------------------------------------------
# FIM DO EFEITO EFEITO MENU MOBILE
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  header .navigation-list {
    display: none;
  }

  header .btn-mobile {
    display: block;
  }

  main .section-banner {
    padding-top: 120px;
    padding-bottom: 300px;
  }
}

/* @media (max-width: 768px){
    header .container{
        flex-direction: column;
        gap: 30px;
    }
} */

@media screen and (max-width: 480px) {
  header .navigation-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .section-about .content-about .title-about h2 {
    font-size: 30px;
  }

  .section-contact .content-contact .title-contact {
    line-height: 1;
  }
}

@media screen and (max-width: 350px) {
  main .section-banner .banner-content .box-arrow {
    display: none;
  }

  main .section-banner {
    padding-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# CODIGO DA PRIMEIRA SECAO (home)
--------------------------------------------------------------*/
.section-banner {
  padding-top: 200px;
  padding-bottom: 500px;
  /* margin: 200px 0 64px; */

  /*
        margin-top: 100px;
        margin-right: 0;
        margin-bottom: 100px;
        margin-left: 0;
    */
}

/* Animação (plugin) */
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

/* ----- Fim animação ----- */

.section-banner .banner-content .title {
  font-size: 96px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 96px;
}

.section-banner .banner-content .title-colored {
  color: #00adb5;
}

.section-banner .set-buttons {
  display: flex;
  margin-top: 48px;
}

.section-banner .set-buttons .button {
  padding: 10px 32px;
  border: none;
  border-radius: 24px;

  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-shadow: 0px 2px 4px black;
  transition: all 0.2s ease-in-out;
}

.section-banner .set-buttons .button:hover {
  box-shadow: 0px 0px 5px black;
  transform: scale(1.05);
  opacity: 0.8;
  /* transform: translateY(7px); */
}

.section-banner .button.hire-btn {
  background-color: #00adb5;
  margin-right: 24px;
}

.section-banner .button.download-btn {
  background-color: #393e46bf;

  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
}

.section-banner .button.download-btn img {
  max-width: 22px;
}

.section-banner .banner-img {
  position: relative;
}

.section-banner .banner-img img:nth-of-type(2) {
  position: absolute;
  left: -65px;
  bottom: -215px;
}

.section-banner .banner-content .box-arrow {
  height: 96px;
  width: 96px;
  background-color: #393e46bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 196px;
  margin-left: auto;
  border-radius: 5px;

  cursor: pointer;
  /* transition: transform 0.3s ease; */
  text-shadow: 0px 3px 4px black;
  transition: all 0.2s ease-in-out;

  /* ANIMAÇÃO */
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.section-banner .banner-content .box-arrow:hover {
  /* transform: translateY(10px); */
  box-shadow: 0px 0px 7px black;
  transform: scale(1.03);

  /* PAUSAR ANIMAÇÃO */
  animation-play-state: paused;
}

/* EFEITO FLUTUANTE NO BOTÃO DE SCROLL */
@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
/* FIM DO EFEITO */

.section-banner .box-arrow img {
  max-width: 40px;
}

.section-banner .banner-content .wrapper-content {
  width: fit-content;
}

.section-banner .container {
  align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .section-banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-banner .banner-content .box-arrow {
    margin: 0 auto;
    margin-top: 150px;
  }

  .section-banner .banner-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section-banner .banner-content {
    margin-top: 40px;
  }

  .section-banner .banner-content .title {
    font-size: 76px;
    line-height: 1;
  }
}

@media screen and (max-width: 480px) {
  header .title {
    font-size: 20px;
  }

  .section-banner .banner-content .title {
    font-size: 64px;
  }

  .section-banner .set-buttons .button {
    font-size: 16px;
  }

  .section-banner .set-buttons {
    margin-top: 40px;
  }

  .section-banner .banner-content .box-arrow {
    margin-top: 100px;
  }

  .section-banner .set-buttons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .section-banner .button.hire-btn {
    margin-right: unset;
  }
}

@media screen and (max-width: 393px) {
  main .section-banner {
    padding-top: 90px;
  }

  .section-banner .banner-content .title {
    font-size: 50px;
  }

  /* Texto da sessão abount */
  .section-about .set-text #resumed-text,
  .section-about .set-text .hidden-content .text-about {
    font-size: 16px;
  }

  /* Lista de navegação no footer */
  .navigation-list {
    gap: 1.5rem;
  }

  .footer .navigation .navigation-item a {
    font-size: 16px;
  }

  .footer .navigation .navigation-item img {
    width: 22px;
    height: 22px;
  }
}

/*--------------------------------------------------------------
# CODIGO DA SEGUNDA SECAO (about)
--------------------------------------------------------------*/
.section-about {
  padding-top: 146px;
  padding-bottom: 300px;
}

.section-about .container {
  gap: 15px;
}

.section-about .content-about .title-about {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 96px;
  color: #eeeeee;
}

.section-about .content-about .title-colored-about {
  color: #00adb5;
}

.section-about .img-about {
  position: relative;
  margin-top: 20px;
}

.section-about .img-about img:nth-of-type(2) {
  position: absolute;
  left: 108px;
  bottom: -76px;
  max-width: 412px;
}

.section-about .container-about {
  align-items: flex-start;
}

.section-about .set-text {
  width: 100%;
  max-width: 490px;
}

.section-about .set-text .hidden-content {
  display: none;
}

.section-about .set-text.expand-text .hidden-content {
  display: block;
}

.section-about .set-text.expand-text #resumed-text {
  display: none;
}

.section-about .set-text #resumed-text {
  color: rgba(255, 255, 255, 0.75);
}

.section-about .set-text .read-more {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  background-color: unset;
  border: none;
  padding: 0;
  cursor: pointer;
}

.section-about .set-text .text-about {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #eeeeee;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .section-about .container {
    flex-direction: column;
  }

  .section-about .set-text {
    max-width: unset;
  }

  .section-about .img-about img:nth-of-type(2) {
    max-width: 350px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  .section-about .content-about .title-about {
    line-height: 1;
  }

  .section-about .set-text .text-about {
    padding-top: 25px;
  }
}

/*--------------------------------------------------------------
# CODIGO DA TERCEIRA SECAO (project)
--------------------------------------------------------------*/
.section-projects {
  padding-top: 146px;
  padding-bottom: 300px;
  background-image: url(/assets/img/background-1.png);
  background-repeat: repeat;
  background-size: auto;
}

.section-projects .container {
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}

.section-projects .content-projects .title-projects {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 96px;
  color: #eeeeee;
}

.section-projects .content-projects .title-colored-projects {
  color: #00adb5;
}

.section-projects .container-projects {
  align-items: flex-start;
}

.section-projects .project-cards {
  display: flex;
  gap: 30px;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%;
  padding: 0 0 30px;
}

.project-cards::-webkit-scrollbar {
  width: 18px;
}

.project-cards::-webkit-scrollbar-thumb {
  background: #00adb5;
  border-radius: 8px;
}

.project-cards::-webkit-scrollbar-track {
  background: #393e46;
  border-radius: 8px;
}

.section-projects .project-cards .card {
  max-width: 380px;
  background-color: #393e4680;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 30px 20px;
}

.section-projects .project-cards span {
  margin-top: 10px;
}

.section-projects .project-cards .img-project {
  width: 320px;
  height: 420px;
  background-size: cover;
  border-radius: 20px;
  background-position: 100% 0%;
  transition: 8s;
}

.section-projects .card:hover .img-project {
  background-position: 100% 100%;
}

/* percorre toda imagem de background caso o card esteja com a classe '.card-active' */
.section-projects .card.card-active .img-project {
  background-position: 100% 100%;
}

.section-projects .card .box-buttons {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: #000000b8; /* Outras opcoes: #333333b8, #1a1a1ab8 */
  backdrop-filter: blur(1px);
  transition: opacity 0.3s ease-in-out;
}

.section-projects .card:hover .box-buttons {
  opacity: 1;
  pointer-events: all;
}

/* adiciona a classe 'card-Hover' para o elemento 'card' em dispositivos mobile */
.section-projects .card.card-active .box-buttons {
  opacity: 1;
  pointer-events: all;
}

.section-projects .card span {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section-projects .box-buttons a {
  border: 2px solid #00adb5;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;

  text-shadow: 0px 3px 3px black;
  transition: all 0.2s ease-in-out;
  transition: background-color 0.3s;
}

.section-projects .box-buttons a:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
  text-shadow: none;

  box-shadow: 0px 0px 5px black;
  transform: scale(1.05);
}

.section-projects .box-buttons a:last-of-type {
  background-color: #00adb5;
}

.section-projects .box-buttons a:last-of-type:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
  text-shadow: none;
}

@media screen and (max-width: 480px) {
  .section-projects .content-projects .title-projects {
    line-height: 1;
  }

  .section-projects .project-cards .img-project {
    width: 220px;
    height: 320px;
  }
}

/*--------------------------------------------------------------
# CODIGO DA QUARTA SECAO (contato)
--------------------------------------------------------------*/
.section-contact {
  padding-top: 146px;
  padding-bottom: 300px;
  background-repeat: repeat;
  background-size: auto;
}

.section-contact .container {
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}

.section-contact .content-contact .title-contact {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 96px;
  color: #eeeeee;
}

.section-contact .contact-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.section-contact .container .contact-cards img {
  width: 24px;
  height: 24px;
  filter: invert(97%) sepia(3%) saturate(11%) hue-rotate(49deg) brightness(103%)
    contrast(104%);
  margin-bottom: 0.5rem;
}

.section-contact .card span {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.section-contact .container .description-contact {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.section-contact .container .button-contact {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #00adb5;
  margin-top: 0.7rem;

  transition: color 0.3s;
}

.section-contact .container .button-contact:hover {
  color: white;
}

.section-contact .contact-cards .card {
  width: 100%;
  max-width: 380px;
  background-color: #393e4680;
  border-radius: 20px;
  border: 2px solid transparent;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 30px 50px;
  transition: 0.3s;
}

.section-contact .contact-cards .card:hover {
  background: transparent;
  border-color: #393e4680;
  transform: scale(1.05);
  /* box-shadow: 0 0 10px; */
}

@media screen and (max-width: 1280px) {
  .section-contact .contact-cards {
    justify-content: center;
  }
}

/* .section-contact .card img {
  width: 326px;
  border-radius: 10px;
  height: 158px;
  object-fit: cover;
} */

/*--------------------------------------------------------------
# RODAPE (footer)
--------------------------------------------------------------*/
.footer {
  padding: 2rem 0;
  background: #00adb5;
  box-shadow: 0px -6px 15px rgb(0 0 0 / 50%);
}

.footer .container {
  flex-direction: column;
  margin-top: 0;
  gap: 3rem;
}

.footer .navigation {
  margin: 0 auto;
}

.footer .navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.footer .social-medias {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer .navigation-item a {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #222831;
  transition: 0.2s;
}

.footer .navigation-item:hover a {
  color: #ffffff;
  transform: scale(1.05);
}

.footer .social-medias img {
  width: 24px;
  height: 24px;
}

.footer .social-medias a {
  background-color: #222831;
  color: white;
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: 0.7rem;
  transition: 0.3s;
}

.footer .social-medias a:hover {
  background-color: transparent;
  border: 1px solid #222831;
  cursor: pointer;
  transform: scale(1.05);
}

.footer .social-medias .img-social-medias img {
  filter: invert(98%) sepia(4%) saturate(141%) hue-rotate(120deg)
    brightness(117%) contrast(87%);
}

.footer .social-medias .img-social-medias:hover img {
  filter: invert(0%) sepia(3%) saturate(7454%) hue-rotate(262deg)
    brightness(105%) contrast(94%);
}

.footer .box-copyright {
  margin-left: auto;
  margin-top: 76px;
}

.footer .box-copyright span {
  color: #39414a;
  opacity: 0.75;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  footer .navigation .navigation-list {
    flex-direction: column;
  }

  footer .container .box-copyright {
    margin-left: unset;
  }

  footer .container .box-copyright span {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# ANIMAÇÃO SCROLL JS
--------------------------------------------------------------*/
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
}
